.root {
  display: inline-block;
  flex: none;
  width: 1.125rem;
  height: 1.125rem;
  background-color: currentColor;
  mask: var(--icon-url) center / contain no-repeat;
  -webkit-mask: var(--icon-url) center / contain no-repeat;
}
